<div class="col-xs-12 col-lg-10 col-lg-offset-1 no-padding">
    <h1 style="color:#0076a3; font-size:24px;">¿Te interesan nuestros datos? Nos interesa tu opinion.</h1>
    <div class="table-wrapper">
                
                    <div class="featured-card">
                        <h2 style="font-size:18px;">Participá en el Foro de debate sobre Justicia Abierta en Justicia 2020.</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                
                
                <div class="table-spacer"></div>
        </div>
</div>