{% extends "gobar_page.html" %}

{% block subtitle %} - Datos Abiertos{% endblock %}

{% block content %}
    {% snippet "static/static_nav_bar.html", active_button='nav-data' %}

    <div id="open-data-container" class="container-fluid gobar-static-container">
        <div id="open-data" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>¿Qué son los Datos Abiertos</h2>

                <p >
                    La publicación de datos Datos Abiertosen formatos digitales para ser reutilizados y 
                    redistribuidos por parte de la ciudadanía es una iniciativa global, ligada a las políticas de 
                    Gobierno Abierto, que tiene como objetivo que los datos y la información se pongan al alcance de todos 
                    sin restricciones de acceso, derechos de autor, patentes u otros mecanismos de control.  
                </p>

                <h3>¿Para qué sirven?</h3>

                <p >
                    Los datos abiertos son una herramienta eficiente de acceso a la información. Muchas 
                    instituciones los publican de forma proactiva y forman parte de sus procesos de análisis, 
                    para realizar estrategias y definir políticas basadas en evidencia , así como mejorar la prestación de los servicios públicos.
                </p>

                <p >
                    Para los ciudadanos, los datos abiertos son un medio para comprender mejor el funcionamiento de 
                    todas las instituciones del Estado. Permiten acceder a mecanismos de rendición de cuentas que 
                    facilitan evaluar el rendimiento y el cumplimiento de las metas planteadas por sus representantes.
                </p>

                <!--<h3>¿Cómo se usan?</h3>

                <p >
                    Al disponibilizar datos públicos los gobiernos permiten que terceros (empresas, periodistas,
                    investigadores y cualquier otro ciudadano) puedan desarrollar recursos y herramientas que generen
                    impacto positivo sobre sus comunidades.
                </p>

                <p>
                    datos.gob.ar simplificará el proceso de búsqueda, descubrimiento y acceso a los datos de la Nación,
                    contribuyendo a su puesta en valor, y facilitando la toma de decisiones y la participación por parte
                    de los ciudadanos.
                </p>-->
            </div>
        </div>
    </div>
{% endblock %}