<footer class="site-footer">
<div id="footer" class="container-fluid">
    <div id="footer-spacer" class="col-xs-12">
      <div class="footer-section links-externos col-xs-12 col-sm-6 col-md-5 col-lg-6">
        <p>
          <a href="https://twitter.com/jusgobar" target="_blank"><i class="icon-twitter"></i></a>
          <a href="https://www.facebook.com/jusgobar/" target="_blank"><i class="icon-facebook"></i></a>
          <a href="https://github.com/datos-justicia-argentina" target="_blank"><i class="icon-github"></i></a>
          <a href="mailto:justiciaabierta@jus.gov.ar"><i class="icon-envelope"></i>justiciaabierta@jus.gov.ar</a>
        </p>
        <address style="color:#FFFFFF">(+5411) 5300-4000 | Sarmiento 329 | C 1041 AAG | Ciudad Autónoma de Buenos Aires | Argentina</address>
      </div>
      <div class="footer-section links-internos hidden-xs hidden-sm col-md-3">
        <h3>Secciones</h3>
        <ul>
          <li>
            <a style="padding-bottom: 2em;" href="{{ h.url('gobar_open_data') }}"><p>DATOS ABIERTOS</p></a>
          </li>
          <li>
            <a style="padding-bottom: 2em;" href="{{ h.url('gobar_legal') }}"><p>MARCO LEGAL</p></a>
          </li>
          <li>
            <a style="padding-bottom: 2em;" href="{{ h.url('gobar_platform') }}"><p>PLATAFORMA</p></a>
          </li>
          <li>
            <a style="padding-bottom: 2em;" href="{{ h.url('gobar_estadistica') }}"><p>ESTADISTICA JUDICIAL</p></a>
          </li>
        </ul>
      </div>
      <div class="footer-section logo col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <p>
          <a href="{{ h.url('home') }}"><img src="http://datos.jus.gov.ar/graficos/img/jus_logo.svg" class="logo-pie"/></a>
        </p>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="ckan-link">
      DESARROLLADO CON <a href="http://ckan.org/" target="_blank"><img class="ckan-logo" src="/img/cklogo.svg"></a>
    </p>
  </div>
</div>
</footer>
